
@{
    ViewData["Title"] = "Vzhlad";
}

    <div class="card mb-3" style="max-width: 1000px;">
        <div class="row no-gutters">
            <div class="col-md-5">
                <img src="..\uploads/images/makeup2.jpg" class="card-img-top" alt="Kozmetika">
            </div>
            <div class="col-md-7">
                <div class="card-body">
                    <p class="card-text"><table class="table table-hover">
             <thead>
                 <tr>
                 <th scope="col">Ponuka</th>
                 <th scope="col">Cena</th>

                 </tr>
             </thead>
             <tbody>
             <tr>
            <th scope="row">Ošetrenie pleti</th>
            <td>10€ - 20€</td>
            </tr>
            <tr>
            <th scope="row">Čistenie pleti</th>
            <td>15€ - 20€</td>
            </tr>
            <tr>
            <th scope="row">Vytrhanie obočia</th>
            <td>3€ - 5€</td>
            </tr>
            <tr>
            <th scope="row">Farbenie obočia</th>
            <td>5€ - 7€</td>
           </tr>
        <tr>
            <th scope="row">3D mihalnice</th>
            <td>10€ - 15€</td>
        </tr>
        <tr>
            <th scope="row">4D mihalnice</th>
            <td>20€ - 23€</td>
        </tr>
        <tr>
            <th scope="row">Farbenie mihalníc</th>
            <td>7€ - 9€</td>
        </tr>
        <tr>
            <th scope="row">Denné líčenie</th>
            <td>5€ - 10€</td>
        </tr>
        <tr>
            <th scope="row">Večerné líčenie</th>
            <td>10€ - 15€</td>
        </tr>
        <tr>
            <th scope="row">Svadobné líčenie</th>
            <td>15€ - 20€</td>
        </tr>

         </tbody>
        </table></p>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <a type="button" class="btn btn-primary" asp-area="" asp-controller="Kozmetikas" asp-action="Formular">Objednať</a>
        </div>
    </div>
