
@{
    ViewData["Title"] = "Galéria";
}

<center><h1>Galéria</h1></center>
<div>
    <br><br />
    <h3>Kaderníctvo</h3><br />
    <div class="row">
        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="..\uploads/images/panskystrih.jpg" alt="panskystrih" height="300">
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="..\uploads/images/farbenievlasov.jpg" alt="farbenievlasov" height="300">
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="..\uploads/images/damskystrih.jpg" alt="damskystrih" height="300">
            </div>
        </div>
    </div><br><br />
    <h3>Masáže</h3><br />
    <div class="row">
        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="..\uploads/images/masazkamenmi.jpg" alt="masazkamenmi" height="300">
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="..\uploads/images/thajskamasaz.jpg" alt="thajskamasaz" height="300">
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="..\uploads/images/cokomasaz.jpg" alt="cokomasaz" height="300">
            </div>
        </div>
    </div>
    <br /><br />
    <h3>Kozmetika</h3>
    <br />
    <div class="row">
        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="..\uploads/images/licenie.jpg" alt="jemnelicenie" height="300">
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="..\uploads/images/obocie.jpg" alt="obocie" height="300">
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="..\uploads/images/obocie.png" alt="obocie2" height="300">
            </div>
        </div>
    </div>
</div>