
@{
    ViewData["Title"] = "Podakovanie";
}
<br /><br /><br />

<div class="card text-center">
    <div class="card-header">
        Rezervácia odoslaná
    </div>
    <div class="card-body">
        <h3 class="card-title">Ďakujeme za vašu objednávku</h3>
        <p class="card-text">Vaša objednávka na rezerváciu bola úspešne spracovaná.</p>
        <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Index">Návrat na domovskú stránku</a>
    </div>
</div>

